<!DOCTYPE html>
<html>
<head>
    <title>Multiformset Demo</title>
</head>

<body>
    <div id="recipeformulario">
        <p class="headline">Desde la pagina de <code>/recipe/AddRecipe</code> el formulario trabaja de la forma tradicional, llevando al usuario a un success page, en este caso <code>/recipes/</code></p>
        <p class="headline">Desde la página de <code>/recipe/</code> el formulario trabajará via ajax, enviando la información por detras y refrescando la lista de recetas, sin necesidad de recargar la página.</p>


        <h1>Agregar Receta</h1>
        <p>El formulario consiste en: crear una receta que cuenta con un titulo y una descripción, a la cual tambien se le ligan dos formularios mas, uno de ingredientes y otro con las instrucciones.</p>
        <form action="/enterRecipe/" method="post">
            {% csrf_token %}
            {{form.id}}
            <div>
                <dl>
                    <dt>{{ form.title.label }}:</dt>
                    <dd>{{ form.title }}</dd>
                    <dt>{{ form.description.label }}:</dt>
                    <dd>{{ form.description }}</dd>
                </dl>

            </div>
            <h2>Ingredientes</h2>
            <fieldset>
            {{ ingredientes.management_form }}
            {% for formset in ingredientes %}
                {{formset.id}}
                <div class="inlineIngredientes {{ formset.prefix }}">
                    <dl>
                        <dt>{{ formset.description.label }}:</dt>
                        <dd>{{ formset.description }}</dd>
                    </dl>
                </div>
            {% endfor %}
            </fieldset>
            <h2>Instrucciones</h2>
            <fieldset>
            {{ instrucciones.management_form }}
            {% for formset in instrucciones %}
                {{formset.id}}
                <div class="inlineInstrucciones {{ formset.prefix }}">
                    <dl>
                        <dt>{{ formset.number.label }}:</dt>
                        <dd>{{ formset.number }}</dd>
                        <dt>{{ formset.description.label }}:</dt>
                        <dd>{{ formset.description }}</dd>
                    </dl>
                </div>
            {% endfor %}
            </fieldset>

            <input type="submit" value="agregar" />
        </form>
    </div>

<script src="{{ STATIC_URL }}js/jquery.1.10.2.js"></script>
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script type="text/javascript">
    $(function() {
        $('.inlineIngredientes').formset({
            prefix: '{{ ingredientes.prefix }}',
            addText: 'Agregar campo',
            deleteText: 'Eliminar',
        });
        $('.inlineInstrucciones').formset({
            prefix: '{{ instrucciones.prefix }}',
            addText: 'Agregar campo',
            deleteText: 'Eliminar',
        });
    })
</script>
<script type="text/javascript">
    $(document).ready(function(){

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    });
</script>
</body>
</html>