<!DOCTYPE html>
<html>
<head>
    <title>Multiformset Demo</title>

</head>

<body>
    <div>
        <p>Se despliega la lista de recetas.</p>
        <h1>Recetas</h1>
        <div id="recetas">
        {% for object in object_list %}
            <div class="receta">
                <div><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div>
                <div><p>{{ object.description }}</p></div>
            </div>
        {% endfor %}
        </div>
    </div>
    <p><code>Agregar receta</code> lo que hace es traer el formulario que se encuentra en <code>/recipes/AddRecipe</code> y lo inserta en el elemento <code>#recipeForm</code>.</p>
    <a href="" class="add-recipe" data-form="/recipes/AddRecipe">Agregar Receta</a>
    <div id="recipeForm"></div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.1.10.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>