<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
        <small><a href="{% url 'mif:band_list' %}">Volver</a></small>
        <div class="row">
            <h3><div class="options">{{object.name}}</div></h3>
        </div>
        <div class="row">
            <div class="object">Genre: {{object.genre}}</div>
        </div>

        {% if object.album_set %}
            <ul>
            {% for album in object.album_set.all %}
                <li>{{album.name}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <div class="object"></div>
            <div class="options"></div>
        </div>
        <a href="{{object.get_update_url}}">Update</a> | <a href="{{object.get_delete_url}}">Delete</a>
</body>
</html>